<div class="container">
    <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
        <div class="mb-3 row">
            <label for="inputName" class="col-4 col-form-label">Countries Quiz</label>
            <div class="col-8">
                <label for="">Capital</label>
                <input type="text" class="form-control" name="capital" id="capital_id" placeholder="Name" formControlName="capital" />
                <label for="">Continent</label>
                <input type="text" class="form-control" name="continent" id="continent_id" placeholder="Name" formControlName="continent" />
                <label for="">Region</label>
                <input type="text" class="form-control" name="region" id="region_id" placeholder="Name" formControlName="region" />
            </div>
        </div>
        <fieldset class="mb-3 row">
            <legend class="col-form-legend col-4" *ngIf="selectedCountry">
                {{selectedCountry.name}}
            </legend>
            <legend class="col-form-legend col-4" *ngIf="!selectedCountry">
                Loadind country
            </legend>
            <div class="col-8">
                you can use radio and checkboxes here
            </div>
        </fieldset>
        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary">
                    Action
                </button>
            </div>
        </div>
    </form>
</div>