<div class="container" id="poker-container">
    <div class="row justify-content-center align-items-center g-2">
        <div class="col" *ngFor="let card of dealerCards">
            <app-poker-card [card]="card" [show]="!show"></app-poker-card>
        </div>
    </div>
    <br/>
    <div class="row justify-content-center align-items-center g-2">
        <div class="col" *ngFor="let card of playerCards">
            <app-poker-card [card]="card"></app-poker-card>
        </div>
    </div>
    <button type="button" class="btn btn-primary mt-5" id="deal" (click)="dealCard()">
        Deal
    </button>


</div>