@import 'src/assets/styles/colors.scss';

@mixin my_display_flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
    @include my_display_flex(column, center, center);
    height: 100vh;
    margin: 0;
    background-color: $mygrey;
  }

  .card {
    width: 150px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @include my_display_flex(column, center, center);
    padding: 10px;
  }

  .card{
    .suit {
      font-size: 24px;
      text-align: center;
    }
    .rank {
      font-size: 32px;
      text-align: center;
    }
    .rank, .suit {
      color: $almostblack;
    }
  }

  
  .card-back {
    width: 150px;
    height: 200px;
    background-color: $quitegrey;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @include my_display_flex(column, center, center); 
    padding: 10px;
  }


