<div class="template" *ngIf="show">
    <div class="card">
        <div class="rank">{{card?.value}}</div>
        <div class="suit">{{card?.suit}}</div>
    </div>
</div>


<div class="template" *ngIf="!show">
    <div class="card-back">

    </div>
</div>


