<div class="card">
    <img class="card-img-top" [src]="data.flag" alt="Title" />
    <div class="card-body">
        <h4 class="card-title">{{data.name }}</h4>
        <p class="card-text">{{data.capital}}</p>
        <p class="card-text">{{data.population | population }}</p>
        <button type="button" class="btn btn-danger" (click)="removeCountry()">
            remove
        </button>

    </div>
</div>