<div class="container">
    <div ngbAccordion>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Order</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" [class]="myClass[0]"
                                (click)="orderBy(myOrder.population)">Population</button>
                            <button type="button" [class]="myClass[1]" (click)="orderBy(myOrder.area)">Area</button>
                            <button type="button" [class]="myClass[2]"
                                (click)="orderBy(myOrder.density)">Density</button>
                            <button type="button" [class]="myClass[3]" (click)="orderBy(myOrder.name)">Name</button>
                        </div>
                        <br />
                        <div ngbDropdown class="d-inline-block my-3">
                            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                {{selectedOrder}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="handleDropdown(myOrder.population)">Population</button>
                                <button ngbDropdownItem (click)="handleDropdown(myOrder.area)">Area</button>
                                <button ngbDropdownItem (click)="handleDropdown(myOrder.density)">Density</button>
                                <button ngbDropdownItem (click)="handleDropdown(myOrder.name)">Name</button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <div ngbAccordionItem>
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton>Filter</button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>
                        <div ngbDropdown class="d-inline-block my-3">
                            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                {{selectedContinent}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="filterbyContinent(continent)"
                                    *ngFor="let continent of continents">{{continent}}</button>
                            </div>
                        </div>
                        <div ngbDropdown class="d-inline-block my-3">
                            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                {{selectedRegion}}
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem (click)="filterbyRegion(region)"
                                    *ngFor="let region of regions">{{region}}</button>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Filter by country name</label>
        <input #countryInput type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            (keyup)="handleKey(countryInput.value)" />
        <small id="helpId" class="form-text text-muted">{{countryName}}</small>
    </div>

    <label for="typeahead-basic">Search for a state:</label>
    <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" />

    <hr />
    <pre>Model: {{ model | json }}</pre>

    <ul class="list-group list-group-numbered">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let country of filteredCountries">
                <country-card [data]="country" (onRemove)="removeCountry($event)"></country-card>
            </div>
        </div>


    </ul>
</div>