<div>
    <h2>Formulario Reactivo</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Nombre:</label>
        <input type="text" id="name" formControlName="name" />
      </div>

      <div>
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" formControlName="email" />
      </div>

      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" />
      </div>

      <button type="submit" [disabled]="!myForm.valid">Enviar</button>
    </form>
  </div>